body, html {
  width: 100%;
  height: 100%;
}

#counter-container {
  width: 100%;
  height: 40%;
  background: #FF5300;
}

.counter-row {
  width: 100%;
  height: 40%;
}

.counter {
  float: left;
  color: #9B3200;
  width: 25%;
  height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	font-size: 300%;
}

.label-container {
  width: 100%;
  height: 10%;
  background: #FF5300;
}

.label {
  float: left;
  color: #9B3200;
  width: 25%;
  height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
	font-size: 100%;
}

#segment-reached-container {
  width: 100%;
  height: 60%;
  overflow: hidden;
}

.segment-reached {
  width: 100%;
  height: 20%;
  background: #FF7939;
  color: #9B3200;
  font-size: 5vw;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}
